<!doctype html>
<html lang="en">
  <%= require("./partials/header.ejs")({title: htmlWebpackPlugin.options.title}) %>
  <body>
    <%= require("./partials/navbar.ejs")() %>

    <section class="container-fluid">
      <div class="row">
        <!-- 側邊欄 -->
        <div class="col-lg-3 col-sm-12">
          <%= require("./partials/aside.ejs")({active: 'index'}) %>
        </div>

        <!-- 主內容 -->
        <div class="col-lg-9 col-sm-12">
          <!-- 麵包屑導覽列 -->
          <%= require("./partials/breadcrumb.ejs")({title: htmlWebpackPlugin.options.title}) %>

          <!-- 主內容區 -->
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">主控臺</h2>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt quasi sint maxime est sequi minus cum? In hic nesciunt, officia iste nobis assumenda. Explicabo cupiditate expedita quas, ab distinctio ipsum?</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%= require("./partials/scripts.ejs")() %>
  </body>
</html>