<!doctype html>
<html lang="en">
  <%= require("../partials/header.ejs")({title: htmlWebpackPlugin.options.title}) %>
  <body>
    <%= require("../partials/navbar.ejs")() %>

    <section class="container-fluid">
      <div class="row">
        <!-- 側邊欄 -->
        <div class="col-lg-3 col-sm-12">
          <%= require("../partials/aside.ejs")({active: 'users'}) %>
        </div>

        <!-- 主內容 -->
        <div class="col-lg-9 col-sm-12">
          <!-- 麵包屑導覽列 -->
          <%= require("../partials/breadcrumb.ejs")({title: htmlWebpackPlugin.options.title}) %>

          <!-- 主內容區 -->
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <h2 class="card-title">使用者管理</h2>
                </div>
                <div class="col-3">
                  <a href="#" class="btn btn-primary float-right">新增</a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">名字</th>
                      <th scope="col">Email</th>
                      <th scope="col">生日</th>
                      <th scope="col">功能</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>David</td>
                      <td>david@abc.com</td>
                      <td>1990/01/01</td>
                      <td>
                        <a href="#" class="btn btn-info">編輯</a>
                        <a href="#" class="btn btn-danger">刪除</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%= require("../partials/scripts.ejs")() %>
  </body>
</html>