<div id="alertBlock" class="alert alert-warning alert-dismissible fade show" role="alert">
  <span id="alertContent"></span>
  <button id="alertClose" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>