<aside class="mt-3">
  <ul class="list-group">
    <li class="list-group-item <%= active === 'index' ? 'list-group-item-primary' : '' %>">
      <a href="/index.html">主控臺</a>
    </li>
    <li class="list-group-item <%= active === 'users' ? 'list-group-item-primary' : '' %>">
      <a href="/users/index.html">使用者管理</a>
    </li>
  </ul>
</aside>